@import './components/';
@import './pages/';
// constant color
// 
// const classes

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
}